In [1]:
max_length = 256

In [2]:
import pandas as pd

df = pd.read_csv('sms.tsv', sep='\t')
print(df.columns)
print(df.shape)

Index(['label', 'sms'], dtype='object')
(5572, 2)

In [3]:
df.head()

  label                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
classes = sorted(set(df['label']))
class_to_idx = {}
print(classes)

['ham', 'spam']

In [5]:
for i, c in enumerate(classes):
    class_to_idx.update({c:i})

In [6]:
class_to_idx

{'ham': 0, 'spam': 1}

In [7]:
nclass = len(classes)

In [8]:
print(nclass)

2

In [9]:
new_df = pd.DataFrame({'label' : df['label'],
                      'sms' : df['sms'].str.slice(
                          start=0, stop=max_length)})
# 원하는 컬럼으로 데이터 정제

In [10]:
# len(new_df)

In [11]:
new_df = pd.DataFrame(new_df.drop_duplicates())
len(new_df)

5169

In [12]:
df_shuffled = new_df.sample(frac=1).reset_index(drop=True)
df_shuffled.head()

  label                                                sms
0   ham            My birthday is on feb  &lt;#&gt;  da. .
1   ham  Wen ur lovable bcums angry wid u, dnt take it ...
2   ham  Yar i wanted 2 scold u yest but late already.....
3   ham  Camera quite good, 10.1mega pixels, 3optical a...
4   ham  Then just eat a shit and wait for ur monkey fa...

In [13]:
train_ratio = 0.9

# train dataset
s, e = 0, int(df_shuffled.shape[0] * train_ratio)
df_train = pd.DataFrame({'label' : df_shuffled['label'][s:e],
                        'sms' : df_shuffled['sms'][s:e]})

# test dataset
s, e = e, e + int(df_shuffled.shape[0] * (1.0 - train_ratio))
df_test = pd.DataFrame({'label' : df_shuffled['label'][s:e],
                        'sms' : df_shuffled['sms'][s:e]})

In [14]:
df_train.shape

(4652, 2)

In [15]:
df_test.shape

(516, 2)

In [16]:
df_train.to_csv('./sms.maxlen.uniq.shuf.train.tsv', header=False, index=False, sep='\t')
df_test.to_csv('./sms.maxlen.uniq.shuf.test.tsv', header=False, index=False, sep='\t')

In [17]:
import torch

In [20]:
!pip install torchtext

Requirement already satisfied: torchtext in /home/jihoon/anaconda3/envs/iqn_torch/lib/python3.6/site-packages (0.4.0)
Requirement already satisfied: numpy in /home/jihoon/anaconda3/envs/iqn_torch/lib/python3.6/site-packages (from torchtext) (1.19.5)
Requirement already satisfied: six in /home/jihoon/anaconda3/envs/iqn_torch/lib/python3.6/site-packages (from torchtext) (1.15.0)
Requirement already satisfied: tqdm in /home/jihoon/anaconda3/envs/iqn_torch/lib/python3.6/site-packages (from torchtext) (4.62.3)
Requirement already satisfied: torch in /home/jihoon/anaconda3/envs/iqn_torch/lib/python3.6/site-packages (from torchtext) (1.7.1)
Requirement already satisfied: requests in /home/jihoon/anaconda3/envs/iqn_torch/lib/python3.6/site-packages (from torchtext) (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jihoon/anaconda3/envs/iqn_torch/lib/python3.6/site-packages (from requests->torchtext) (1.26.3)
Requirement already satisfied: certifi>=2017.4.17 in /home/jihoon/anaconda3/envs/iqn_torch/lib/python3.6/site-packages (from requests->torchtext) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /home/jihoon/anaconda3/envs/iqn_torch/lib/python3.6/site-packages (from requests->torchtext) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/jihoon/anaconda3/envs/iqn_torch/lib/python3.6/site-packages (from requests->torchtext) (4.0.0)
Requirement already satisfied: typing-extensions in /home/jihoon/anaconda3/envs/iqn_torch/lib/python3.6/site-packages (from torch->torchtext) (3.7.4.3)
Requirement already satisfied: dataclasses in /home/jihoon/anaconda3/envs/iqn_torch/lib/python3.6/site-packages (from torch->torchtext) (0.8)

In [21]:
import torchtext
import numpy as np

ModuleNotFoundError: No module named 'torchtext'